<h1>user登录</h1>

<% if flash[:login_error] %>
    <p><%= flash[:login_error] %></p>
<% end %>

<%= form_for :session, url: :sessions_create do |f| %>

    <p>
      <%= f.label :user_id %>
      <%= f.text_field :user_id %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>

    <p><%= f.button "登录" %></p>
     <p><%= link_to '<<<注册>>>', new_user_path %></p>

<% end %>