<p id="notice"><%= notice %></p>

<h1>Users Lists~ </h1>
<%if(session[:user_id]!=nil)%>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <p><% session[:user_id] %></p>
        <td><%= user.user_id %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Show', user %></td>
        <% if(session[:user_id]== user.user_id) %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%end%>
<%= link_to '<<<注册用户>>>', new_user_path %>
<br>
<% if session[:user_id].present? %>
    <%= link_to '<<<注销>>>', sessions_destroy_path , data: { confirm: 'Are you sure?' } %>
<% end %>
<% if session[:user_id].blank? %>
    <%= link_to '<<<登录>>>', sessions_new_path %>
<% end %>