<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @wiki.tag %>
</p>

<p>
  <strong>Info:</strong>
  <%= @wiki.info %>
</p>

<p>
  <strong>Title:</strong>
  <%= @wiki.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @wiki.user_id %>
</p>

<% if session[:user_id] == nil%>
<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<% end %>
<%= link_to 'Back', wikis_path %>
